<footer id="footer" class="p-1">
    <div class="container">
     <div class="row">
        <div class="col-sm-2 offset-md-2">
          <a href="{{site.footer.link}}"><img class="center" alt="{{site.footer.alt}}" src="{{site.footer.image | relative_url}}" width="50"></a>
        </div>
        <div class="col-lg align-self-center">
            Created for the <a href="https://github.com/Colorado-Data-Analytics-Challenge">2018 Colorado Data Analytics Challenge</a>.
        </div>
     </div>

  </div>
</footer>