
<nav class="navbar nav main-nav navbar-expand-md sticky-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ "/" | relative_url }}""><h1>{{ site.title }}</h1></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% for post in site.posts reversed %}
		<li class="nav-item"><a href="{{post.url | relative_url}}" class="nav-link">{{post.menu-item}}</a></li>
		{% endfor %}
		<li class="nav-item"><a href="{{ "/about" | relative_url }}"" class="nav-link">About</a></li>
    </ul>
  </div>
</nav>